*{
    padding: 0;
    margin: 0;
}
/* Row-1 CSS Start */
#row1{
    height: 50px;
    width: 100%;
    background: #0C3646;
}
.header_section{
    width: 65%;
    margin: 0 auto;
    height: 100%;
}
.logo{
    width: 10%;
    height: 100%;
    float: left;
}
.logo img {
    height: 40px;
    padding-top: 5px;
    padding-left:45px ;
}
.menu{
    width: 70%;
    height: 100%;
    float: left;
}
.menu ul{

}
.menu ul li {
    float: left;
    list-style: none;
    line-height: 50px;
    margin-left: 30px;
}
.menu ul li  a{
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;

}
/* Row-1 CSS End */

/* Row-2 CSS Start */
#row2{
    height: 600px;
    width: 100%;
    background: url(../pro.img/banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-repeat: round;
    
}
.banner-section{
    text-align: center;
    color: #fff;
}
.banner-section h1{
    font-size: 90px;
    text-transform: uppercase;
    padding-top: 250px;
    padding-bottom: 10px;
    text-align: center;
    color: aqua;
}
.banner-section p{
    font-size: 25px;
    color:aqua;
    text-transform: capitalize;
    font-family: 'Courier New', Courier, monospace;
}
/* Row-2 CSS End */

/* Row-3 CSS Start */
#row3{
    height: 500px;
    width: 100%;
    background:rgba(16, 39, 64, 0.3);
}
.wedo_section{
    width: 80%;
    margin: auto;
    height: 100%;
}
.wedo_title{
     
}
.wedo_title h1{
    text-align: center;
    font-size:  80px;
    padding-top:50px; 
}
.wedo_item_all{
    padding: 60px 0px;
}
.wedo_item{
    width: 30%;
    float: left;
    text-align: center;
    margin-left: 30px;
}
.wedo_item i{
    font-size: 33px;
    padding-bottom: 20px;
    color: green;
}
.wedo_item h2{
    font-size: 27px;
    padding-bottom: 25px;
}
.wedo_item p{
    text-align: justify;
}
/* Row-3 CSS End */

/* Row-4 CSS Start */
#row4{
    width:100%;
    height: 500px;
    background-color: #6e8187;
    
}
.project_section{
    width: 80%;
    margin: auto;
    height: 100%;
    
}
.project_title{
    
}
.project_title h2{
    text-align: center;
    font-size:50px;
    padding-top:40px;  
    
}
.project_item_all{

    padding: 60px 0px;
}
.project_items{
    width:30%;
    float: left;
    text-align: center;
    margin-left: 30px;
    
}
.project_items img{
    width:200px;
    height:150px;
    
}
.project_items h1{
    font-size: 27px;
    padding-bottom: 30px;
}
.project_items p{
    text-align: justify;
}
/* Row-4 CSS End */

/* Row-5 CSS Start */
#row5{
    height: 450px;
    width: 100%;
    background:url(https://assets.techcircle.in/uploads/article-image/2019/12/images/20842-106927239-xll334.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-repeat: round;
} 
.overlay{
    height:80%;
    width:100%;
    background-color:rgba(67, 85, 98, 0.2);
    position: absolute;
} 
.youget_section{
    width: 65%;
    margin: 0 auto;
    height: 100%;
}
.youget_title{
    text-align: center;
    padding: 30px 0px;
    font-size: 30px;
    text-transform: uppercase;
}
.youget_title h2{ 
    
}
.youget_item_all{
    padding: 50px 0px;
   
}
.youget_item{
    
    width: 29%;
    float: left;
    text-align: center;
    margin-left: 30px;
    
}
.youget_item i{

   font-size: 33px;
    padding-bottom: 15px;
    color: rgb(202, 33, 104);
}
.youget_item h2{
    padding-bottom: 20px;
}
.youget_item p{
    text-align: justify;
}
/* Row-5 CSS End */

/* Row-6 CSS Start */
#row6{
    height: 460px;
    width: 100%;
    background: #845555;
}
.customer_section{
    width: 95%;
    margin: 0px;
    height: 100%;
    padding-left: 10px;

}
.customer_title{
    
}
.customer_title h2{
    text-align: center;
    padding: 30px ;
    font-size: 30px;
    text-transform: uppercase;
}
.customer_item_all{
    
}
.customer_item{
    width:17%;
    float: left;
    margin-left: 10px;
    padding-left: 14px;
}
.customer_item img{
    width: 100%;
    height: 134px;

}
.customer_item p{
    text-align: justify;
}
.customer_item h4{}
/* Row-6 CSS End */

/* Row-7 CSS Start */

#row7{
    height: 800px;
    width: 100%;
    background: rgba(29, 62, 147, 0.2);
}
.footer_section{
    width:95%;
    margin: auto;
    height: 100%;
    padding: 20px;
}
.footer_item_all{

}
.footer_item{
    width: 17%;
    float: left;
    margin-left: 40px;
    padding-left: 20px;

}
.footer_item h4{
    font-size: 25px;
    color:#F59A63;
    text-transform: capitalize;
    
}
.footer_item ul{
border-bottom: #F59A63;
}
.footer_item p{
    text-align: justify;
}
.footer_item ul{

}
.footer_item ul li{
    list-style:none;
     width: 199px;
     border-bottom:double solid blue ;
 
}
.footer_item i{ 
    font-size: 25px;
    height:50px;
    width:50px;
    background:#fff;

}

/*row 7 end with css*/